.everything-wrapper {
    font-family: Tahoma;
    min-width: 695px;
}

.main-section {
    padding: 32px 44px;
    padding-top: 4px;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
    color: rgb(0,150,136);
}

md-input-container .md-input, md-list-item.md-no-proxy{
    padding: 0;
}

div md-input-container .md-input{
    border: none;
}

.spinner {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-image: url(magnifying_glass_logo.png);
    background-repeat: no-repeat;
    background-size: 200px;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0); }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}
@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

.header {
    text-align: center;
    font-family: Tahoma
}

.email-icon {
    cursor: pointer;
    width: 37px;
}

.email-icon-expanded {
    background-image:url('mail-chosen.png');

}

.email-icon div {
    margin-top:20%;
    margin-bottom:10%;
}

.clickable-birthday {
    cursor: pointer;
}

.birthday-icon {
    width: 62px;
}

.birthday-icon img {
    width: 42px;
}

.pinUp {
    margin-left:10px;
}

.results-for {
    padding: 12px;
}

.metanote {
    text-align: center;
    margin: 15px 0;
    font-size: 11px;
    color: gray;
}

.list-wrapper {
    padding-right: 12px;
    background-color: rgb(241, 241, 241);
    border-right: solid 5px rgb(222, 223, 227);
    border-bottom: solid 2px rgb(222, 223, 227);
        border-top: solid 1px rgb(239, 239, 239);
}

.list-wrapper,
.extra-list-wrapper {
    border-radius: 4px;
}

.extra-list-wrapper {
    padding-top: 12px;
}

.person-show-more {
    border-right-color: rgb(123, 255, 127);
}

.person-show-more-name {
    color: rgb(70, 216, 74);
}

.md-list {
    padding: 4px 0px 3px 0px;
}

.thumbnail-wrapper-cell {
    width: 76px;
    text-align: right;
}

.thumbnail-wrapper {
    position: relative;
    display: inline-block;
}

.thumbnail-wrapper:hover {
    position: relative;
    display: inline-block;
}

.thumbnail-wrapper-cell-clickable {
    cursor: pointer;
}

.thumbnail {
    border-radius: 50%;
    max-width: 56px;
    max-height: 56px;
    margin: 0;
}

.thumbnail:hover {

}

.more-less {
    height: 18px;
    width: 18px;
    position: absolute;
    right: 50%;
    /* 9 is half of the size of the more-less button (18x18). */
    margin-right: -9px;
    bottom: -9px;
    z-index: 1000;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
}

.main-input-section {
    text-align: center;
}

.input-wrapper {
    text-align: center;
    font-size: 16px;
    display: inline-block;
}

.main-input-helpful-buttons {
    width: 100%;
}

.help-button-cell-wrapper {
    font-size: 13px;
    width: 50%;
    text-align: left;
    border-left: solid 1px rgb(222, 223, 227);
    padding-left: 12px;
}

.birthday-search-wrapper {
    font-size: 13px;
    width: 50%;
    text-align: right;
    padding-right: 12px;
}

.help-button-wrapper {
    position: relative;
    display: inline-block;
}

.help-button {
    vertical-align: middle;
}

.help-button+.help-floater {
    vertical-align: middle;
}

.help-floater {
    font-size: 13px;
    position: absolute;
    z-index: 1;
    background: white;
    padding: 12px;
    margin-bottom: 6px;
    border-radius: 4px;
    border: solid 1px;
    width: 210px;
    text-align: right;
    display: none;
}

.help-floater-down {
    top: 24px;
    left: 0;
}

.help-floater-up {
    bottom: 16px;
    left: -40%;
}

.help-button:hover+.help-floater {
    display: block;
}

.help-floater:hover {
    display: block;
}


.main-input-form-wrapper {
    display: inline-block;
    position: relative;
}

.main-input {
    width: 390px;
    /* The padding left should leave space for .main-input-search-icon
        which is 6px (position left) + 15px (width) = 21px. */
    padding: 6px 12px 6px 21px;
    font-size: 14px;
    outline: none;
    background: rgb(249, 249, 249);
    border: solid 1px rgb(160, 160, 160);
    border-radius: 12px;
}

.main-input-search-icon,
.clear-search-button {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 6px;
    /* The height of the input is ~28px so this should be (28-15/2) = 6.5px from the top. */
    top: 6.5px;
}

.clear-search {
    cursor: pointer;
}

.main-input-label-wrapper {
    text-align: center;
    margin-bottom: 12px;
}

.main-input-label {
    color: #42BAC6;
    margin: 3px 17px 8px 0;
    font-size: 32px;
    display: inline-block;
    line-height: 32px; /* There are two lines so each gets half the height. */
    vertical-align: top;
    text-align: right;
}

.search-logo {
    height: 96px;
    position: relative;
    margin-top: 24px;
}



.field-row {
}

.value-row-field-name {
    color: rgba(0,0,0,0.5);
    margin: 4px 0;
    font-size: 10px;
}

.value-name-field {
    font-weight:bold;
    font-size:13px;
}

.value-tafkid-field {
    color: rgba(0,0,0,0.75);
    margin: 4px 0;
    font-size: 12px;
}

.value-row-field {
    padding: 12px 0 12px 12px;
    display: inline-block;
    vertical-align: top;
    text-align:justify;
    display:table-cell;
}

.bottom-row-list {
    padding: 0px;
    margin: 6px;
    display:table;
    width:100%;
    border-top: solid 1px rgb(180,180,180);
}

.text-stretcher {
    width:100%;
    height:1px;
    display:inline-block;
}

.person-table {
    table-layout: fixed;
    border-spacing: 0;
    width: 99%;
    /*background-color:rgba(33,150,243,0.02);*/
    background-color:white;
}

.person-table td {
    padding: 0;
}

.pin-wrapper-cell {
    width: 45px;
}

.pin-wrapper {
    cursor: pointer;
    background: rgb(116,190,221);
    text-align: center;
    height: 48px;
    vertical-align: middle;
    position: relative;
}

.pin-wrapper img {
    position: absolute;
    top: 50%;
    height: 24.5px;
    width: 30px;
    margin-top: -12.25px;
    left: 50%;
    margin-left: -15px;
}

.pin {
    width: 30px;
}

.pin-check-or-plus-pinned {
    background: lightgreen;
}

.pin-check-or-plus-not-pinned {
    background: yellow;
}

.pin-check-or-plus-pinned,
.pin-check-or-plus-not-pinned {
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    width: 16px;
    text-align: center;
    height: 16px;
    border-radius: 50%;
}

.remove-from-email-list {
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    outline: none;
    margin-right: 4px;
 }

 .remove-from-email-list:hover {
    color:black;
 }

 .mailing-list-title {
    margin-bottom: 16px;
    font-size: 14px;
    margin-right: 48px;
 }

 .mailing-list {
    border-bottom: solid 2px rgb(222, 223, 227);
    width:93%;
    position:absolute;
    /*background-color:#fafdff;*/
    background-color:white;
    z-index:1001;
 }

 .mailing-list-starter-page {
    width:100%;
 }

 .mailing-list-person-wrapper {
    overflow-y: auto;
    height:30px;
    max-width: 424px;
    white-space: nowrap;
 }

 .mailing-list-person-wrapper::-webkit-scrollbar {
    background-color:#f5f5f5;
    height:6px;
 }

 .mailing-list-person-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:10px;
    background-color:#f5f5f5;
 }
 
 /*.mailing-list-person-wrapper::-webkit-scrollbar-thumb {
    border-radius:10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color:#555;
 }*/

 .mailing-list-person-wrapper::-webkit-scrollbar-thumb {
    border-radius:10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-image: -webkit-gradient(linear, left bottom, right bottom,
        color-stop(0.44, rgb(122,153, 217)),
        color-stop(0.72, rgb(73, 125, 189)), 
        color-stop(0.86, rgb(28, 58, 148)));
 }

.person-to-email {
    margin: 4px 0;
    margin-left: 8px;
    margin-right: 4px;
    display: inline-block;
    color:white;
    background: rgb(33, 150, 243);
    border-radius: 7px;
    padding: 0px 8px;
    font-size: 11px;
}


.mailing-list-buttons-wrapper {
    width:130px;
   margin-top: 8px; 
}

.mailing-list-send {
    font-size: 14px;
    padding: 4px;
    border: 2px solid #2196f3;
    border-radius: 4px;
    background-color: #2196f3;
    color: white;
    cursor: pointer;
    transition-duration: 0.3s;
}
.mailing-list-send:hover{
    background-color: rgb(128, 192, 243);
    border: 2px solid rgb(128, 192, 243);
    transition-duration: 0.3s;
}
.mailing-list-cancel {
    background: transparent;
    border-color: transparent;
}


.mailing-list-buttons-wrapper button {
    margin-left: 0px;
    padding: 0px 4px;
}

.see-more {
    margin: 4px 0px;
    text-align:center;
}

.email-everyone{
    background: lightgreen;
}

.send-everyone {
    display: inline-block;
    padding: 12px;
    background: #7FB3D5;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 12px;
}

.person-tag-wrapper {
    border-top: solid 1px rgb(180,180,180);
}

.tag {
    margin: 3px 0 0 3px;;
    display: inline-block;
    padding: 2px 18px;
    border-radius: 4px;
}

.tag-name {
    line-height: 16px;
    cursor: pointer;
    font-size: 10px;
    text-align: center;
    display: inline-block;
    color:white;
}

.deletable-tag:hover {
    /* If we're hovering, replace the padding-left with the X */
    padding-left: 0;
}

.delete-tag {
    display: none;
    text-align: center;
    width: 18px;
    cursor: pointer;
}

.delete-tag:hover {
    color:white;
}

.deletable-tag:hover > .delete-tag {
    display: inline-block;
}

.tag-adder {
    background: lightblue;
    display: inline-block;
    margin: 14px;
    border-radius: 10px;
    padding: 0px 4px 3px 4px;
    cursor: pointer;
}

.change-personal-text {
    font-style: italic;
    cursor: pointer;
}

.mobile-field {
    max-width: 50%;
}

.top-row-table {
    table-layout: fixed;
    width: 100%;
    padding: 8px 0;
}

.editable-field {
    cursor: pointer;
}

.edit-field-wrapper {
    width: 90%;
}

.edit-field-wrapper input {
    width: 100%;
}

.tag-title {
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 4px;
}

.current-tag-type-title {
    border: solid 1px;
}

.top-bar-avatar-wrapper {
    display: inline-block;
    position: relative;
}

.top-bar-avatar {
    height: 56px;
    border-radius: 50%;
}

.avatar-user-level-icon {
    width: 32px;
    position: absolute;
    left: -16px;
    top: 0;
}

.top-bar-welcome {
    line-height: 56px;
    display: inline-block;
    margin-right: 16px;
    vertical-align: top;
    font-size: 14px;
}

.top-bar-welcome-wrapper {
    cursor: pointer;
    width:20%;
}

.edit-me {
    cursor: pointer;
}

.add-an-idea-logo {
    height: 45px;
    float: left;
    cursor: pointer;
}

.add-an-idea-text {
    color: #42BAC6;
    display: inline-block;
    line-height: 20px;
    vertical-align: top;
    font-size: 14px;
    padding: 6px 8px 2px 8px;
}

.small-magnifying-glass-logo {
    height: 48px;
    vertical-align: middle;
    margin-left: 12px;
}

.bug-report-wrapper {
    width: 250px;
}

.share-image,
.bug-report-image {
    height: 24px;
    cursor: pointer;
}

.share-image-cell {
    text-align: left;
}

.bug-report-image {
    float: right;
}

.bug-report-wrapper textarea {
    width: 100%;
    min-height: 100px;
}
.cancel-bug-report {
    float: left;
}

.example-search {
    cursor: pointer;
}

.birthday-search {
    cursor: pointer;
    vertical-align: middle;
}

.tags-to-add {
    margin-bottom: 12px;
}

.tags-to-add-text {
    margin: 12px 0;
    text-align: center;
    font-weight: bold;
}

.bottom-bar {
    border-top: solid 2px rgb(222, 223, 227);
}

.top-area-section {
    border-bottom: solid 2px rgb(222, 223, 227);
}

.top-area-section,
.bottom-bar {
    width: 100%;
    padding: 12px 18px;
    background: rgb(241, 242, 246);
}

.show-people {
    border-top: solid 2px rgb(222, 223, 227);
    margin-top: 6px;
    overflow-y: auto;
}

input[type=checkbox] {
    height:20px;
    width:20px;
    cursor:pointer;
}

.web-bottom-bar {
    position:fixed;
    bottom:0px;
    width:100%;
    z-index:1001;
}

.web-search-logo-top-bar {
    height:96px;
    position:relative;
    margin-right:auto;
    margin-left:auto;
    display:block;

}